navbar(title="Forgot Password?")

#forgot-password.container.app-container
	
	.forgot-pword-error {{error}}
	
	form(ng-submit="attemptSendReset()")
		h4 Please enter the email address associated with your account.	
		
		input.form-control(type="email", placeholder="Email address", autofocus="", autocorrect="off", autocapitalize="off", ng-model="email")
		button.btn.btn-lg.btn-primary.btn-block(type="submit")
			//- todo: need to animate this transition	
			span(ng-hide="resetLoading") Send Reset Link 
			i(ng-show="resetLoading").fa-spinner.fa-spin  
			span(ng-show="resetLoading")  Trying to send reset.. 
	
	p.login
		a(href="#/login") Login 
	p.create-account	
		a(href="#/register") Create New Site & Account
