navbar(title="Reset Password")

#reset-password.container.app-container

	.reset-error {{error}}

	form(ng-submit="attemptSavePassword()").form-reset-password
		
		h4 Set New Password

		input.form-control(type="hidden")
		input.form-control(type="password", placeholder="New Password", autocorrect="off", autocapitalize="off", ng-model="password")
		input.form-control(type="password", placeholder="Match New Password", autocorrect="off", autocapitalize="off", ng-model="passwordConfirm")
			
		button.btn.btn-lg.btn-primary.btn-block(type="submit") 
			//- todo: need to animate this transition	
			span(ng-hide="savingLoading") Save Password 
			i(ng-show="savingLoading").fa-spinner.fa-spin  
			span(ng-show="savingLoading")  Trying to save password.. 
	
