navbar
div.jumbotron
  div.container
    h1 Turntable for Dongs
    p
    | This is a turntable.fm clone that pulls down songs and saves them as mp3s
    | on s3, it then streams them using icecast
    | 
    p
      a.btn.btn-primary.btn-lg(role="button", href="about") Learn More &raquo;
div.container
  div.row
    div.col-md-4
      h2 Derp
      p
      | random stuff goes here. Highlights, fancy shit. other stuff. random.
    div.col-md-4
      h2 Derp
      p
      | random stuff goes here. Highlights, fancy shit. other stuff. random.
    div.col-md-4
      h2 Derp
      p
      | random stuff goes here. Highlights, fancy shit. other stuff. random.

