navbar
div.site-wrapper
  div.site-inner-wrapper
    div.cover-container
      div.inner cover
        h1.cover-heading Turntable for Dongs
        p.lead 
        |  This is a turntable clone that pulls down songs and saves them as
        |  mp3s on s3, it then streams them using icecast
        p.lead
          a.btn.btn-lg.btn-default(href="#") Learn More


