navbar(title="Reset Your Password")

#new-password.container.app-container

	.col-xs-offset-0.col-sm-offset-1.col-md-offset-1.col-xs-12.col-sm-4.col-md-4.col-lg-4
		h2 Create New Password	
		
		.signup-error {{err}}
		
		form(role="form", ng-submit="setNewPassword()")
			
			.form-group
				input.form-control(type="password", placeholder="New Password", autocorrect="off", autocapitalize="off", ng-model="pass")

			.form-group
				input.form-control(type="password", placeholder="Confirm New Password", autocorrect="off", autocapitalize="off", ng-model="passConf")

			button.btn.btn-lg.btn-primary.btn-block(type="submit", ng-disabled="chngPLoading") 
				//- todo: need to animate this transition	
				span(ng-hide="chngPLoading") Set new Password 
				i(ng-show="chngPLoading").fa.fa-spinner.fa-spin  
				span(ng-show="chngPLoading")  Attempting to set new password... 


