navbar
div.container
  div.row
    div.col-sm-3.col-md-3
      script(src="http://dongs.in/jplayer/js/jquery.jplayer.min.js")
      script(type="text/javascript").
        jQuery(document).ready(function($) {
          $("#jquery_jplayer_1").jPlayer({
            ready: function(event) {
              $(this).jPlayer('setMedia', {
                mp3: 'http://turntable.dongs.in:8000/stream',
              }); 
              $(this).jPlayer('play');
            },
            solution: 'flash, html',
            swfPath: 'http://dongs.in/jplayer/lib',
            supplied: 'mp3',
            keyEnabled: true,
            preload: "none",
            wmode: 'window'
          });
          console.log("TRYING TO DO TI!");
        });
      div#jquery_jplayer_1.jp-jplayer
      div#jp_container_1.jp-audio-stream
        div.jp-type-single
          div.jp-gui.jp-interface
            ul.jp-controls
              li
                a.jp-mute(href="javascript:;", tabindex="1", title="mute") mute
              li
                a.jp-unmute(href="javascript:;", tabindex="1", title="unmute") unmute
              li
                a.jp-volume-max(href="javascript:;", tabindex="1", title="max volume") max volume
          .jp-volume-bar
            .jp-volume-bar-value
      ul.nav.nav-tabs(role='tablist')
        li
          a.active(href='#') Room List
        li
          a(href='#') Room
        li
          a(href='#') Queue
      div
        h3.sub-header DJ Queue
        a.list-group-item(href='#', ng-repeat='dj in djs') 
          {{dj.name}}
          div.pull-right
            button.btn.btn-sm.btn-danger(type"button", ng-show='dj.name == user.name') 
              b X
      div
        h4.sub-header Listeners
        a.list-group-item(href='#', ng-repeat='listener in listeners') 
          {{listener.name}}

    //Start of content container
    div.col-sm-9.col-sm-offset-3.col-md-9.col-md-offset-3.main
      h1.sub-header Search:
      input.form-control(type='text', ng-model='searchquery', placeholder='Song Name', required, autofocus)
      div.table-responsive
        table.table.table-striped
          thead
            tr
              th Song
              th Artist
              th Add Song
              th Queue Song
          tbody
            tr(ng-repeat='song in results')
              td {{song.title}}
              td {{song.artist}}
              td
                button.btn.btn-primary(type="button", ng-disabled='song.added') Add
              td
                button.btn.btn-primary(type="button", ng-disabled='song.queued') Queue


